In [1]:
import gender_guesser.detector as gender
import genderbr as genderbr
import pandas as pd

In [2]:
#Setting up gender detector
d = gender.Detector(case_sensitive=False)

In [3]:
#importing data
df = pd.read_excel(r'C:\Users\ivanr\Documents\berle-means\controllership\gender_analysis_committees_bovespa\membro_comite.xlsx', sheet_name='only_names')

In [4]:
all_names = list(df['Nome tratado'])

In [5]:
gender_list = []
for name in all_names:
    gender_list.append(d.get_gender(name.split(" ")[0]))

In [6]:
df['Gender_w_gender_guesser'] = gender_list

In [14]:
df = df.replace('mostly_female','female')
df = df.replace('mostly_male','male')

In [25]:
df_gender = df.groupby(by=['Gender_w_gender_guesser'], as_index=False)['Nome tratado'].count()
df_gender.columns = ['description','qty']
df_gender['qty_percentage'] = round((df_gender['qty']/len(df))*100,2)

In [29]:
df.to_excel('names_and_gender.xlsx',index=False, engine='xlsxwriter')

In [27]:
df_gender.sort_values(by=['qty'], ascending=False)

  description   qty  qty_percentage
2        male  4400           68.71
3     unknown  1072           16.74
1      female   908           14.18
0        andy    24            0.37

<h3> After the previous cell I've done some manual classification

In [32]:
df_processed = pd.read_excel('names_and_gender.xlsx', sheet_name='Sheet1')

In [47]:
df_gender_processed = df_processed.replace('andy','unknown').groupby(by=['Gender_w_gender_guesser'], as_index=False)['CPF'].count()
df_gender_processed.columns = ['gender','qty']
df_gender_processed = df_gender_processed.sort_values(by=['qty'], ascending=False)
df_gender_processed['qty_%'] = round((df_gender_processed['qty']/len(df_processed))*100,2)
df_gender_processed

    gender   qty  qty_%
1     male  5294  82.67
0   female  1063  16.60
2  unknown    46   0.72